html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'Raleway', sans-serif;
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/fabric_plaid.png');
}

.letter {
  display: inline-block;
  margin-left: -8px;
}

#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#name {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  position: absolute;
  width: 100%;
}

h1 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: cornflowerblue;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  transition-delay: initial;
}

.h1-motion {
  margin-top: 15px !important;
  opacity: 1 !important;
}

#name h2 {
  border: 3px solid lightgrey;
  background-color: white;
  padding: 15px;
  margin-top: 20px;
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: initial;
  width: 70%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.h2-motion {
  margin-top: 15px !important;
  opacity: 1 !important;
}

#arrow-top {
  width: 100%;
  opacity: 0;
  text-align: center;
  margin-bottom: 15px;
}

#arrow-bottom {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

.blink {
  animation: blink 1s ease-in-out infinite alternate;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fa-chevron-down, .fa-chevron-up {
  font-size: 1.5em;
  color: grey;
}

.fa-chevron-up {
  font-size: 1.5em;
  color: grey;
  animation: blink 1s ease-in-out infinite alternate;
}

h3 {
  font-size: 1.5em;
  margin-top: 0;
}

h4 {
  color: cornflowerblue;
  font-weight: 500;
  margin-top: 0;
}

h5 {
  margin-top: 2px;
  margin-bottom: 2px;
  color: cornflowerblue;
}

#me-img {
  border-radius: 50%;
  overflow: hidden;
  margin-top: -200px;
  width: 150px;
  height: 150px;
  margin-left: -75px;
  background-image: url('../images/me.jpg');
  background-size: cover;
  position: relative;
  left: 50%;
  animation-duration: 1.5s;
  animation-name: flip;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes flip {
  from {
    margin-top: -200px;
    transform: rotateX(0deg);
  }

  to {
    margin-top: 5vh;
    transform: rotateX(360deg);
  }
}

.flipit {
  animation-iteration-count: infinite;
  animation-name: flip;
  animation-duration: 0.6s; 
  animation-timing-function: ease-in-out;
}

@keyframes flipletter {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.flip-letter {
  animation-iteration-count: infinite;
  animation-name: flipletter;
  animation-duration: 0.6s; 
  animation-timing-function: ease-in-out;
}

#work {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.project {
  margin: 20px;
  padding: 20px;
  border: 3px solid lightgrey;
  background-color: white;
}

.project-img-wrap {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.fa-code, .fa-link {
  color: cornflowerblue;
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
}

.fa-code:hover, .fa-link:hover {
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transform: scale(1.2);
}

#work img {
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

#info {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 10px 10px;
  box-sizing: border-box;
}

#info h3, #about h3 {
  font-family: 'Comfortaa', cursive;
  color: cornflowerblue;
}

#projects-h3 {
  font-family: 'Comfortaa', cursive;
  color: cornflowerblue;
  margin-top: 30px;
}

#info ul {
  list-style: none;
  padding-left: 0;
}

#frontend, #backend, #workflow {
  float: left;
  text-align: center;
  width: 33.3333334%;
}

#contact {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#contact-wrap {
  opacity: 0;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: cornflowerblue;
  clear: both;
  transition-property: opacity;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}

.contact-wrap-fade-in {
  opacity: 1 !important;
}

.contact-icon-wrap {
  padding: 10px;
  display: inline-block;
}

.contact-icon-wrap:hover {
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transform: scale(1.1);
}

.contact-icon-wrap i {
  font-size: 3em;
  color: white;
}

.fa-envelope {
  font-size: 3em;
}

#about {
  text-align: center;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

#bottom {
  width: 100%;
  background-color: cornflowerblue;
  height: 40px;
}

@media (min-width: 375px) {

  #arrow-top {
    margin-bottom: 25px;
  }

  .fa-chevron-down, .fa-chevron-up {
    font-size: 2em;
  }

  #name h2 {
    margin-top: 25px;
  }

  .h2-motion {
    margin-top: 20px !important;
  }

}


@media (min-width: 414px) {

  #me-img {
    width: 200px;
    height: 200px;
    margin-left: -100px;
  }

  @keyframes flip {
    from {
      margin-top: -250px;
      transform: rotateX(0deg);
    }

    to {
      margin-top: 5vh;
      transform: rotateX(360deg);
    }
  }

  h1 {
    font-size: 3em;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  #work h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.75em;
  }

  .h1-motion {
    margin-top: 20px !important;
  }

  .fa-chevron-down, .fa-chevron-up {
    font-size: 2.5em;
  }

  .fa-code, .fa-link {
    font-size: 2em;
  }

}


@media (min-width: 768px) {

  .desc p {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }  

  #info, #about {
    width: 80%;
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
  }

  #about {
    margin-top: 20px;
  }

  .project {
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .fa-code, .fa-link {
    padding-left: 12px;
    padding-right: 12px;
  }

}



